html {
}

body {
    min-height: 400px;
}

/* bootstrap / primefaces */

.ui-spinner {
    padding: 0;
}
.ui-spinner input {
    width: 100%;
    height: 32px;
    border: none;
    box-shadow: none;
    padding-bottom: 0;
    padding-top: 0;
}
.ui-spinner .ui-spinner-button {
    border-color: #cccccc;
}
.ui-spinner .ui-spinner-button.ui-spinner-up {
    border-top: none;
    border-right: none;
    border-bottom: none;
}
.ui-spinner .ui-spinner-button.ui-spinner-down {
    border-right: none;
    border-bottom: none;
}
.ui-spinner.ui-abey-addon .ui-spinner-button {
    right: 34px;
    border-radius: 0;
}
.ui-spinner.ui-abey-addon .ui-spinner-up {
    top: 1px;
}

/* bootstrap / primefaces */

.navbar {
    border-radius: 0;
}

.navbar-header a {
    padding: 10px;
}

#main-menu {
    position: static;
    display: block;
}

footer {
    border-top: 1px solid gray;
    padding: 30px;
    margin-top: 100px;
}

#login-form {
    display: none;
    width: 0;
    white-space: nowrap;
}

#login-form input[type=text], #login-form input[type=password] {
    width: 110px;
}
#login-form input[type=submit] {
    margin-right: 20px;
}

.connected-as {
    color: white;
    margin-right: 15px;
    line-height: 50px;
}

.username {
    font-weight: bold;
    font-size: 1.1em;
}


