html {
}

body {
    min-height: 400px;
}

/* bootstrap / primefaces */

/* spinner */
.ui-spinner {
    padding: 0;
}
.ui-spinner input {
    width: 100%;
    height: 32px;
    border: none;
    box-shadow: none;
    padding-bottom: 0;
    padding-top: 0;
}
.ui-spinner input:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}
.ui-spinner .ui-spinner-button {
    border-color: #cccccc;
}
.ui-spinner .ui-spinner-button.ui-spinner-up {
    border-top: none;
    border-right: none;
    border-bottom: none;
}
.ui-spinner .ui-spinner-button.ui-spinner-down {
    border-right: none;
    border-bottom: none;
}

/* data table */
.ui-datatable {
    margin-bottom: 10px;
}

/* date picker */
.date-picker {
    padding: 0;
}
.date-picker input {
    border: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    width: 100%;
    height: 100%;
    margin-right: -36px;
}
.date-picker input:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}
.date-picker .ui-datepicker-trigger {
    margin-right: -2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* progress bar */
.ui-fileupload-progress .ui-progressbar {
    height: 6px !important;
    width: 55px !important;
    margin-left: -10px !important;
    margin-right: -10px !important;
}

/* fin bootstrap / primefaces */

.navbar {
    border-radius: 0;
}

.navbar-header a {
    padding: 10px;
}

#main-menu {
    position: static;
    display: block;
}

footer {
    border-top: 1px solid gray;
    padding: 30px;
    margin-top: 100px;
}

#login-form {
    display: none;
    width: 0;
    white-space: nowrap;
}

#login-form input[type=text], #login-form input[type=password] {
    width: 110px;
}
#login-form input[type=submit] {
    margin-right: 20px;
}

#login-form a {
    color: white;
}
#login-form a:hover {
    color: #bbb;
}

.connected-as {
    color: white;
    margin-right: 15px;
    line-height: 50px;
}

.user-name, .product-name, .category-name {
    font-weight: bold;
    font-size: 1.1em;
}

#copyright {
    text-align: right;
    font-size: 90%;
    font-weight: bold;
    padding-top: 60px;
}