html {
}

body {
    min-height: 400px;
}

.navbar {
    border-radius: 0;
}

.navbar-header a {
    padding: 10px;
}

#main-menu {
    position: static;
    display: block;
}

footer {
    border-top: 1px solid gray;
    padding: 30px;
    margin-top: 100px;
}

#login-form {
    display: none;
    width: 0;
    white-space: nowrap;
}

#login-form input[type=text], #login-form input[type=password] {
    width: 110px;
}
#login-form input[type=submit] {
    margin-right: 20px;
}

.connected-as {
    color: white;
    margin-right: 15px;
    line-height: 50px;
}

.username {
    font-weight: bold;
    font-size: 1.1em;
}


